     * {
          font-family: 'Segoe UI', sans-serif;
          margin: 0;
          padding: 0;
     }

     #cabecalho {
          background-color: rgb(188, 222, 237);
          /**estou colocando cor no meu cabeçalho*/
          display: flex;
          /*ativar o flexbox para poder alinhar os meus elementos filhos*/
          justify-content: space-between;
          /*alinha os filhos no sentido flex*/
          align-items: center;
          /*alinhamento dos filhos no sentido contrario*/
     }

     #cabecalho img {
          width: 230px;
          ;
          /*largura da imagem do cabeçalho*/
          height: 230px;
          /*altura da imagem do cabeçalho*/

     }

     #cabecalho>nav {
          display: flex;
          gap: 10px;
          /*espaço entre os elementos*/
          align-items: center;
     }

     #cabecalho>nav>a {
          color: black;
          text-decoration: none;
          /*none de nenhum decorativo */
          font-size: 25px;
     }

     main section>div img {
          width: 230px;
          /*largura da imagem do cabeçalho*/
          height: 230px;
          /*altura da imagem do cabeçalho*/
     }

     main section>div {
          color: #000000;
          display: flex;
          flex-direction: column;
     }
     
     main section>div span{
          color: #da2222;
        
     }
     main section>div > h3{
          color: #1dade2;
        
     }
     
